.navbar {
    height: 100px;

    .wrapper {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 20px 0 100px;
    }

    span {
    font-weight: bold;
    font-size: 32px;
    }

    .social {
        display: flex;
        gap: 20px;

        img {
            width: 18px;
            height: 18px;
        }
    }

    @media (max-width: 768px) {
        .wrapper {
            padding: 0 15px 0 75px;
        }

        span {
            font-size: 22px;
        }

        .social {
            gap: 15px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    @media (max-width: 480px) {
        height: 80px;

        .wrapper {
            padding: 0 10px 0 65px;
        }

        span {
            font-size: 18px;
        }

        .social {
            display: none;
        }
    }
}

