html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
    overflow-x: hidden;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    html {
        scroll-snap-type: none;
    }

    section {
        height: auto;
        min-height: 100vh;
        scroll-snap-align: start;
    }
}

@media (max-width: 480px) {
    section {
        min-height: auto;
    }
}

// .test-container {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .test {
//     height: 200px;
//     width: 200px;
//     background-color: white;
// }

// .test-button {
//     margin-top: 20px;
//     padding: 10px 20px;
//     background-color: rebeccapurple;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }